/*
## Learn more
- [The 8-Point Grid](https://spec.fm/specifics/8-pt-grid)
*/
$multiple: 8px !default;

// Map is used for margin and padding utilities.
$spacers: (
  0:    0,
  1px:  1px,
  0p25: $multiple / 4,
  0p5:  $multiple / 2,
  1:    $multiple,
  1p5:  $multiple * 1.5,
  2:    $multiple * 2,
  2p5:  $multiple * 2.5,
  3:    $multiple * 3,
  4:    $multiple * 4,
  5:    $multiple * 5,
  6:    $multiple * 6,
  7:    $multiple * 7,
  8:    $multiple * 8,
  9:    $multiple * 9
) !default;

// Map for spacing tokens in Rems
$units:(
  0:      0,
  1px:    .1,
  .25:    .2,
  .5:     .4,
  1:      .8,
  1.5:    1.2,
  2:      1.6,
  2.5:    2,
  3:      2.4,
  4:      3.2,
  5:      4,
  6:      4.8,
  7:      5.6,
  8:      6.4,
  9:      7.2,
  10:     8,
  15:     12,
  -1px:    -.1,
  -.25:    -.2,
  -.5:     -.4,
  -1:      -.8,
  -1.5:    -1.2,
  -2:      -1.6,
  -2.5:    -2,
  -3:      -2.4,
  -4:      -3.2,
  -5:      -4,
  -6:      -4.8,
  -7:      -5.6,
  -8:      -6.4,
  -9:      -7.2,
  -10:     -8,
  -15:     -12,
);