<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Immigration Policy Tracking Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tracking U.S. immigration policies and current status updates." />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png" />
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico" />
    <link rel="mask-icon" href="/static/images/favicon/safari-pinned-tab.svg" color="#922846" />
    <meta name="msapplication-TileColor" content="#922846" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css?v=relevance-bands" />
  </head>
  <body class="page--home">
    <a href="#main-content" class="skipnav">Skip to main content</a>

    <header class="masthead" id="masthead">
      <!-- include: templates/includes/nav.html -->
    </header>

    <main id="main-content"></main>

    <div style="background-color: #2e3638; padding: 20px 0;">
      <!-- include: templates/includes/footer.html -->
    </div>

    <script src="/static/js/main.js?v=relevance-bands"></script>
  </body>
</html>
